@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@700&display=swap');

:root {
    --primary-color: #101630;
    --secondary-color: #50B8DE;
    --accent-color: #ffcc00;
    --background-color: #f0f0f0;
    --text-color: #333333;
    --font-family: 'Inter', sans-serif;
    --fancy-font-family: 'Playfair Display', serif;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
    margin-top: 4rem;
}

.about-me-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-frame {
    position: relative;
    width: 500px;
    /* Increased size */
    height: 500px;
    /* Increased size */
    border: 5px solid var(--accent-color);
    transform: rotate(-5deg);
}

.about-me-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotate(5deg);
}

.about-me-right {
    flex: 1;
    padding: 2rem;
}

.about-me-header {
    font-size: 2.5rem;
    font-family: var(--fancy-font-family);
    margin-bottom: 1rem;
}

.about-me-paragraph {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.about-me-buttons {
    display: flex;
    gap: 1rem;
}

.about-me-button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.about-me-button:hover {
    background-color: var(--secondary-color);
    color: white;
}

@media (max-width: 768px) {

    .image-frame {
        width: 400px;
        height: 400px;
    }

    .about-me {
        flex-direction: column;
        text-align: center;
    }

    .about-me-left,
    .about-me-right {
        flex: none;
        width: 100%;
    }

    .about-me-right {
        padding: 1rem;
    }

    .about-me-header {
        font-size: 2rem;
    }

    .about-me-paragraph {
        font-size: 0.875rem;
    }

    .about-me-button {
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
    }

    .about-me-buttons {
        justify-content: center;
        align-items: center;
    }
}