@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@700&display=swap');

:root {
    --primary-color: #101630;
    --secondary-color: #50B8DE;
    --accent-color: #ffcc00;
    --background-color: #f0f0f0;
    --text-color: #333333;
    --font-family: 'Inter', sans-serif;
    --fancy-font-family: 'Playfair Display', serif;
}

.contact {
    padding: 2rem;
    text-align: center;
}

.contact-header {
    font-size: 2.5rem;
    font-family: var(--fancy-font-family);
    margin-bottom: 2rem;
    color: white;
}

.contact-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
}

.contact-left,
.contact-right {
    flex: 0 1 calc(40% - 1rem);
    /* min-width: 300px; */
}

.contact-title {
    font-size: 1.5rem;
    font-family: var(--font-family);
    color: #f7f7f7;
    margin-bottom: 1rem;
    text-align: left;
}

.contact-description {
    font-size: 1rem;
    color: #f7f7f7;
    margin-bottom: 2rem;
    text-align: left;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #f7f7f7;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: #f7f7f7;
}

.contact-icon {
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-input {
    padding: 0.75rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

.contact-button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.contact-button:hover {
    background-color: var(--secondary-color);
    color: white;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        justify-content: space-between;
        flex: 0 1 calc(100% - 1rem);
    }

    .contact-left,
    .contact-right {
        width: 100%;
        flex: 0 1 calc(100% - 1rem);
    }

    .contact-right {
        flex: 1 0 100% !important;
        width: 100% !important;
    }

    .contact-right div {
        flex: 1 0 100% !important;
    }


}