@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@700&display=swap');

:root {
    --primary-color: #101630;
    --secondary-color: #50B8DE;
    --accent-color: #ffcc00;
    --background-color: #f0f0f0;
    --text-color: #333333;
    --font-family: 'Inter', sans-serif;
    --fancy-font-family: 'Playfair Display', serif;
}

.counter {
    margin-top: 2rem;
    color: #f0f0f0;
}

.counters-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.count-container {
    margin-bottom: 1rem;
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.count {
    font-size: 2rem;
    font-family: var(--fancy-font-family);
}

@media (max-width: 768px) {
    .count-container {
        flex: 0 0 50%;
    }
}