@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --primary-color: #101630;
    --secondary-color: #50B8DE;
    --accent-color: #ffcc00;
    --background-color: #f0f0f0;
    --text-color: #333333;
    --font-family: 'Inter', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: white;
    margin: 0;
    /* Remove spacing around nav */
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--font-family);
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.menu.open {
    max-height: 500px;
    /* Adjust as needed */
    opacity: 1;
}

.menu-item {
    font-size: 1rem;
    font-family: var(--font-family);
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.menu-item:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 0.5rem;
}

.contact-button {
    background-color: var(--accent-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: var(--primary-color);
    font-weight: 700;
}

.contact-button:hover {
    background-color: var(--secondary-color);
    color: white;
    border: 0;
}

.close-button {
    font-size: 2rem;
    cursor: pointer;
    align-self: flex-end;
    display: none;
    /* Hide by default */
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: var(--primary-color);
        width: 100%;
        padding: 1rem;
    }

    .menu.open {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    .close-button {
        display: block;
        /* Show close button on mobile */
    }
}

@media (min-width: 769px) {
    .menu {
        display: flex !important;
        max-height: none;
        opacity: 1;
    }
}