@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@700&display=swap');

:root {
    --primary-color: #101630;
    --secondary-color: #50B8DE;
    --accent-color: #ffcc00;
    --background-color: #f0f0f0;
    --text-color: #333333;
    --font-family: 'Inter', sans-serif;
    --fancy-font-family: 'Playfair Display', serif;
}

.services {
    text-align: center;
    margin: 0 auto;
}

.services-header {
    font-size: 2.5rem;
    font-family: var(--fancy-font-family);
    margin-bottom: 2rem;
    color: white;
}

.service-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.view-all-button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-top: 2rem;
}

.view-all-button:hover {
    background-color: var(--secondary-color);
    color: white;
}

.service-box {
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem;
    width: 350px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.service-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-header {
    display: flex;
    margin-bottom: 1rem;
}

.service-icon {
    background-color: var(--secondary-color);
    color: white;
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 2rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
}

.service-title {
    font-size: 1.5rem;
    font-family: var(--fancy-font-family);
    color: var(--primary-color);
}

.service-description {
    text-align: justify;
    font-size: 1rem;
    color: var(--text-color);
    line-height: 1.5;
}

@media (max-width: 768px) {
    .service-grid {
        flex-direction: column;
        align-items: center;
    }

    .service-box {
        width: 100%;
        max-width: 300px;
        height: auto;
    }
}